/* .pb-wrapper {
} */

.pb-bg {
  width: 100%;
  height: 0.5rem;
  background-color: var(--color-11);
  border-radius: 0.6rem;
  position: relative;
  overflow: hidden;
}

.pb-progress {
  background-color: var(--color-secondary);
  border-radius: 0.6rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
